@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
margin: 5px;
padding: 5px;
box-sizing: border-box;
}


body	{
	font-family: 'Inter', sans-serif;
	background-image: url(../img/fondo.jpg);
	

}


h1{
	color: #e595b0;
	text-align: center;
}

.rosa{	
	color: #e595b0;
}

.chocolate{
	color: #6A3625;
}


#contenedor{
	width: 1200px;
	height: 1800px;
	background-color: #ecf0f1;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border-color: #e595b0;
	border-style: solid;
	border-width: 4px;
	border-radius: 10px;
}

#menu a{
    text-decoration:none;
    color:inherit;
    font-size:16px;
    font-weight: 700;
    } 

#menu li{
	border-radius: 5px;
    display:inline-block;
    width:30%;
    padding:15px 10px;
    background-color:#e595b0;
    border:2.5px solid #6A3625;
    text-align:center;
    color:#6A3625;
    }
#menu li:hover{
	border-radius: 5px;
    color:#ecf0f1;
    }

#menu ul{
	display: flex;
	justify-content: space-between;
}


li {list-style-position: inside;

}